@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 100%; /* Changed: 1280px */
  /* margin: 0 auto; */
/*   padding: 2rem; */
  width: 100vw;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #FAD5DD;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: #F899D722; /* hover effect background */
    border-radius: 5px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
   /*  place-items: center; */  /* Changed */
  }

  #app {
    display: flex; /* Changed: grid */
    flex-direction: column; /* Added */
    
    /* grid-template-columns: 1fr; */ /* Changed */
    /* padding: 0 2rem; */
    width:100%; /* Added */
  }
}
